.app-wrapper {
  display: grid;

  grid-template-areas: 
  "h h"
  "n c"
  "f f";

   /* Количество колонок и строк на странице */
  grid-template-rows: 1fr 8fr 1fr;
  grid-template-columns: 1fr 6fr;
    /* растояние между эллементами */
  grid-gap: 10px;
}